{% extends "baseCasino.html.twig" %}

{% block title %}Game{% endblock %}

{% block main %}

<div class="presentationCasino">
<h1>Spela</h1>


<h2>poäng: {{ score }}</h2>
<form action="{{ path('game21_draw') }}" method="post">
    <button class="button" type="submit">Dra kort</button>
</form>

<form action="{{ path('game21_stop') }}" method="post">
    <button class="button" type="submit">Stoppa</button>
</form>

<div class="deck">
<ul>
    {% for card in cards %}
        <li>{{ card.getGraphicalRepresentation()|raw }}</li>
    {% endfor %}
</ul>
</div>

{# {{ dump(sessionData) }} #}
</div>

{% endblock %}
