{% extends "baseproject.html.twig" %}

{% block title %}Adventure Game
{% endblock %}
{% block body %}
	<div class="gameBoxHome" style="background-image: url('{{ asset('img/finaltwo.png') }}');">
		<div class="container">
			<div class="endPromt">
				<h1>Good work!<br>The server is safe and the database is restored thank you
				brave civilian. You did the right call to call the cops so we can keep an
				eye on this bad student.</h1>
			</div>
<div class="container">
	<div class="HintEnd">
		<a href="{{ path('project_clear') }}">
			<h1>Starta om</h1>
		</a>
	</div>
</div>
</div>
<div class="container">
	<h2>Grades Data</h2>
	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
				<th>Course</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			{% for grade in grades %}
				<tr>
					<td>{{ grade.name }}</td>
					<td>{{ grade.course }}</td>
					<td>{{ grade.grade }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

</div>
{% endblock %}

