{% extends "baseproject.html.twig" %}

{% block title %}The Database Mystery
{% endblock %}


{% block body %}
	<div class="gameBoxHome" style="background-image: url('{{ asset('img/serveroomdeco.png') }}');">
		<div class="container">
			<div class="buttonOutServer">
				<a href="{{ path('project_start') }}">

					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="inventory">
				{% include 'project/adventure_items.html.twig' with {'adventures': adventures} %}
			</div>
		</div>
		<div class="container">
			<div class="dialogServerAnswerOne">
			<a href="{{ path('project_server_dialog_one') }}">What I'm doing here?!<br>
			I know what you're up to and it's no good. I know how it feels when you don't
			get the grades you feel that you deserve. But nothing will be better with 
			vengence. Stop what you're doing and I will try to get you out 
			of any trouble. </a>
			</div>
		</div>
		<div class="container">
			<div class="dialogServerAnswerTwo">
				<a href="{{ path('project_server_dialog_two') }}">You've just been cought!<br>
				This is not going to end well for you. Breaking into the serverroom and
				loading a virus on the server just because you're too bad to pass 
				a course! Shame on you, I will call the police and tell them exactly
				what you've done!</a>
			</div>
		</div>
		<div class="container">
			<div class="dialogserverOne">
				<p>What are you doing here?<br> Get out, nothing to see here!</p>
			</div>
		</div>
		<div class="container">
			<div class="Hint">
				<h2>Hint</h2>
				<p>Pick one of the textboxes to reply.</p>
			</div>
		</div>
		</div>
		<div class="container">
			<div class="buttonPickUpCd">
				<a href="{{ path('adventure_add_cd') }}">
				<i class="fa-solid fa-compact-disc"></i>
				</a>
			</div>
		</div>
{% endblock %}



